In [2]:
import pandas as pd

df = pd.read_csv("olist_customers_dataset.csv")

df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_score,review_comment_message
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,Deveriam embalar melhor o produto. A caixa vei...
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,5,"Só achei ela pequena pra seis xícaras ,mais é ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,0b82d0616f1ad8da15cf967b984b4004,986632b40c38f4240caf8608cb01d40d,delivered,2018-08-03 21:35:53,2018-08-04 04:25:14,2018-08-08 14:26:00,2018-08-09 21:42:08,2018-08-10 00:00:00,1,boleto,...,36.0,576.0,5.0,350.0,32.0,2.0,28.0,arts_and_craftmanship,5,NaN
115605,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,2018-07-23 18:35:14,2018-07-24 10:31:25,2018-07-24 14:37:00,2018-07-27 14:04:10,2018-08-06 00:00:00,1,credit_card,...,32.0,660.0,3.0,500.0,16.0,6.0,16.0,arts_and_craftmanship,3,"Um dos frisadores que comprei, especificamente..."
115606,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,2018-07-23 18:35:14,2018-07-24 10:31:25,2018-07-24 14:37:00,2018-07-27 14:04:10,2018-08-06 00:00:00,1,credit_card,...,57.0,942.0,5.0,500.0,21.0,7.0,14.0,arts_and_craftmanship,3,"Um dos frisadores que comprei, especificamente..."
115607,2c4ada2e75c2ad41dd93cebb5df5f023,363d3a9b2ec5c5426608688ca033292d,delivered,2017-01-26 11:09:00,2017-01-26 11:22:17,2017-01-27 14:59:35,2017-02-14 16:24:01,2017-03-07 00:00:00,1,credit_card,...,55.0,506.0,1.0,1225.0,27.0,35.0,15.0,security_and_services,4,Envio muito rápido. Recomendo.
115608,bede3503afed051733eeb4a84d1adcc5,919570a26efbd068d6a0f66d5c5072a3,delivered,2017-09-17 16:51:43,2017-09-19 04:05:52,2017-09-19 20:22:49,2017-09-28 18:14:35,2017-10-11 00:00:00,1,boleto,...,48.0,461.0,4.0,400.0,26.0,22.0,11.0,security_and_services,1,"boa tarde produto enviado errado, terei que me..."

In [3]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115609 non-null  object
 1   customer_id                    115609 non-null  object
 2   order_status                   115609 non-null  object
 3   order_purchase_timestamp       115609 non-null  object
 4   order_approved_at              115595 non-null  object
 5   order_delivered_carrier_date   114414 non-null  object
 6   order_delivered_customer_date  113209 non-null  object
 7   order_estimated_delivery_date  115609 non-null  object
 8   payment_sequential             115609 non-null  int64
 9   payment_type                   115609 non-null  object
 10  payment_installments           115609 non-null  int64
 11  payment_value                  115609 non-null  float64
 12  customer_unique_id             115609 non-null  object
 13  customer_zip_code_prefix       115609 non-null  int64
 14  customer_city                  115609 non-null  object
 15  customer_state                 115609 non-null  object
 16  order_item_id                  115609 non-null  int64
 17  product_id                     115609 non-null  object
 18  seller_id                      115609 non-null  object
 19  shipping_limit_date            115609 non-null  object
 20  price                          115609 non-null  float64
 21  freight_value                  115609 non-null  float64
 22  product_category_name          115609 non-null  object
 23  product_name_lenght            115609 non-null  float64
 24  product_description_lenght     115609 non-null  float64
 25  product_photos_qty             115609 non-null  float64
 26  product_weight_g               115608 non-null  float64
 27  product_length_cm              115608 non-null  float64
 28  product_height_cm              115608 non-null  float64
 29  product_width_cm               115608 non-null  float64
 30  product_category_name_english  115609 non-null  object
 31  review_score                   115609 non-null  int64
 32  review_comment_message         48906 non-null   object
dtypes: float64(10), int64(5), object(18)
memory usage: 29.1+ MB

In [5]:
import pandas as pd

# Assuming df is your DataFrame
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])

# Now, the 'order_purchase_timestamp' column will be converted to datetime dtype
print(df['order_purchase_timestamp'])

0        2017-10-02 10:56:33
1        2017-10-02 10:56:33
2        2017-10-02 10:56:33
3        2017-08-15 18:29:31
4        2017-08-02 18:24:47
                 ...
115604   2018-08-03 21:35:53
115605   2018-07-23 18:35:14
115606   2018-07-23 18:35:14
115607   2017-01-26 11:09:00
115608   2017-09-17 16:51:43
Name: order_purchase_timestamp, Length: 115609, dtype: datetime64[ns]

In [6]:
import pandas as pd

# Assuming df is your DataFrame
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'], unit='s')

# Now that 'order_purchase_timestamp' is converted to datetime dtype, you can use the .dt accessor
df['Order_purchase_hour'] = df['order_purchase_timestamp'].dt.hour
df['Order_purchase_dayofweek'] = df['order_purchase_timestamp'].dt.dayofweek

# Now, you should be able to access hour and day of the week attributes
print(df[['order_purchase_timestamp', 'Order_purchase_hour', 'Order_purchase_dayofweek']])

       order_purchase_timestamp  Order_purchase_hour  Order_purchase_dayofweek
0           2017-10-02 10:56:33                   10                         0
1           2017-10-02 10:56:33                   10                         0
2           2017-10-02 10:56:33                   10                         0
3           2017-08-15 18:29:31                   18                         1
4           2017-08-02 18:24:47                   18                         2
...                         ...                  ...                       ...
115604      2018-08-03 21:35:53                   21                         4
115605      2018-07-23 18:35:14                   18                         0
115606      2018-07-23 18:35:14                   18                         0
115607      2017-01-26 11:09:00                   11                         3
115608      2017-09-17 16:51:43                   16                         6

[115609 rows x 3 columns]

In [7]:
df['order_purchase_timestamp']

0        2017-10-02 10:56:33
1        2017-10-02 10:56:33
2        2017-10-02 10:56:33
3        2017-08-15 18:29:31
4        2017-08-02 18:24:47
                 ...
115604   2018-08-03 21:35:53
115605   2018-07-23 18:35:14
115606   2018-07-23 18:35:14
115607   2017-01-26 11:09:00
115608   2017-09-17 16:51:43
Name: order_purchase_timestamp, Length: 115609, dtype: datetime64[ns]

In [8]:
import pandas as pd

# Assuming df is your DataFrame
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])

# Now that both columns are in datetime format, you can perform the subtraction
df['Time_taken_for_delivery'] = (df['order_delivered_customer_date'] - df['order_purchase_timestamp']).dt.days

# Now, you should be able to calculate the time taken for delivery
print(df[['order_purchase_timestamp', 'order_delivered_customer_date', 'Time_taken_for_delivery']])

       order_purchase_timestamp order_delivered_customer_date  \
0           2017-10-02 10:56:33           2017-10-10 21:25:13
1           2017-10-02 10:56:33           2017-10-10 21:25:13
2           2017-10-02 10:56:33           2017-10-10 21:25:13
3           2017-08-15 18:29:31           2017-08-18 14:44:43
4           2017-08-02 18:24:47           2017-08-07 18:30:01
...                         ...                           ...
115604      2018-08-03 21:35:53           2018-08-09 21:42:08
115605      2018-07-23 18:35:14           2018-07-27 14:04:10
115606      2018-07-23 18:35:14           2018-07-27 14:04:10
115607      2017-01-26 11:09:00           2017-02-14 16:24:01
115608      2017-09-17 16:51:43           2017-09-28 18:14:35

        Time_taken_for_delivery
0                           8.0
1                           8.0
2                           8.0
3                           2.0
4                           5.0
...                         ...
115604                      6.0
115605                      3.0
115606                      3.0
115607                     19.0
115608                     11.0

[115609 rows x 3 columns]

In [9]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115609 non-null  object
 1   customer_id                    115609 non-null  object
 2   order_status                   115609 non-null  object
 3   order_purchase_timestamp       115609 non-null  datetime64[ns]
 4   order_approved_at              115595 non-null  object
 5   order_delivered_carrier_date   114414 non-null  object
 6   order_delivered_customer_date  113209 non-null  datetime64[ns]
 7   order_estimated_delivery_date  115609 non-null  object
 8   payment_sequential             115609 non-null  int64
 9   payment_type                   115609 non-null  object
 10  payment_installments           115609 non-null  int64
 11  payment_value                  115609 non-null  float64
 12  customer_unique_id             115609 non-null  object
 13  customer_zip_code_prefix       115609 non-null  int64
 14  customer_city                  115609 non-null  object
 15  customer_state                 115609 non-null  object
 16  order_item_id                  115609 non-null  int64
 17  product_id                     115609 non-null  object
 18  seller_id                      115609 non-null  object
 19  shipping_limit_date            115609 non-null  object
 20  price                          115609 non-null  float64
 21  freight_value                  115609 non-null  float64
 22  product_category_name          115609 non-null  object
 23  product_name_lenght            115609 non-null  float64
 24  product_description_lenght     115609 non-null  float64
 25  product_photos_qty             115609 non-null  float64
 26  product_weight_g               115608 non-null  float64
 27  product_length_cm              115608 non-null  float64
 28  product_height_cm              115608 non-null  float64
 29  product_width_cm               115608 non-null  float64
 30  product_category_name_english  115609 non-null  object
 31  review_score                   115609 non-null  int64
 32  review_comment_message         48906 non-null   object
 33  Order_purchase_hour            115609 non-null  int32
 34  Order_purchase_dayofweek       115609 non-null  int32
 35  Time_taken_for_delivery        113209 non-null  float64
dtypes: datetime64[ns](2), float64(11), int32(2), int64(5), object(16)
memory usage: 30.9+ MB

In [10]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery'],
      dtype='object')

In [11]:
# List of IDs to be dropped
ids_to_drop = [
    'order_id', 'customer_id', 'payment_sequential',
    'customer_unique_id', 'order_item_id', 'product_id',
    'seller_id'
]

# Drop the IDs from the DataFrame
df = df.drop(columns=ids_to_drop)

In [12]:
df.columns

Index(['order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'payment_type', 'payment_installments',
       'payment_value', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery'],
      dtype='object')

In [13]:
df['customer_city'].unique()

array(['sao paulo', 'florianopolis', 'presidente venceslau', ...,
       'alto alegre do iguacu', 'nova guataporanga', 'itape'],
      dtype=object)

In [14]:
df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'])

In [15]:
# Calculate the time delay between delivery date and estimated delivery date
df['delivery_delay'] = (df['order_delivered_customer_date'] - df['order_estimated_delivery_date']).dt.days

# Now, 'delivery_delay' represents the delay between delivery date and estimated delivery date in days
print(df[['order_delivered_customer_date', 'order_estimated_delivery_date', 'delivery_delay']])

       order_delivered_customer_date order_estimated_delivery_date  \
0                2017-10-10 21:25:13                    2017-10-18
1                2017-10-10 21:25:13                    2017-10-18
2                2017-10-10 21:25:13                    2017-10-18
3                2017-08-18 14:44:43                    2017-08-28
4                2017-08-07 18:30:01                    2017-08-15
...                              ...                           ...
115604           2018-08-09 21:42:08                    2018-08-10
115605           2018-07-27 14:04:10                    2018-08-06
115606           2018-07-27 14:04:10                    2018-08-06
115607           2017-02-14 16:24:01                    2017-03-07
115608           2017-09-28 18:14:35                    2017-10-11

        delivery_delay
0                 -8.0
1                 -8.0
2                 -8.0
3                -10.0
4                 -8.0
...                ...
115604            -1.0
115605           -10.0
115606           -10.0
115607           -21.0
115608           -13.0

[115609 rows x 3 columns]

In [16]:
df['delivery_delay'].unique()

array([  -8.,  -10.,   -6.,    7.,   -2.,  -18.,    1.,  -11.,   -9.,
        -16.,  -24.,   -3.,  -20.,  -15.,  -13.,   15.,   -7.,  -21.,
          0.,    5.,  -14.,   -4.,  -19.,    2.,   nan,   -1.,   -5.,
        -12.,  -17.,    6.,   13.,   22.,  -23.,  -31.,  -22.,  -30.,
        -26.,  -27.,  -25.,   44.,    4.,  -28.,   49.,   16.,    9.,
         30.,    3.,  -46.,  -42.,  -32.,   32.,   20.,   35.,   41.,
        -40.,  -35.,   33.,   29.,   10.,  -45.,   19.,    8.,   77.,
        -36.,  -38.,  -44.,  -34.,  -29.,   28.,  -33.,   38.,  -37.,
        -43.,   14.,   23.,  -39.,  -48.,   26.,   21.,   11.,   17.,
         24.,  -50.,  -49.,  -59.,  -55.,   12.,   43.,  -47.,   18.,
       -124.,  -57.,   27.,  -56.,  -41.,   31.,  161.,  105.,  152.,
        -66.,   59.,  -53.,  -58.,   46.,   25.,  121.,  -52.,   36.,
        -64.,   54.,   52.,   34.,   94.,   73.,   79.,   42.,   60.,
         58.,  159.,   40.,   45.,   56.,  153.,   47.,   53.,   96.,
         83.,   69.,   48.,   91.,  109.,   37.,  -69.,  -83.,  -51.,
        -68.,  -75.,  -77.,   55.,  110.,  -60.,   80.,  -73.,  -78.,
       -147.,  -62.,  -61., -135.,  144.,  -84.,  -76.,  167.,  -71.,
         50.,  155.,   39.,  143.,   51.,  104.,   57.,  132.,   63.,
        126.,  -54.,  -65.,  111.,   70.,   78.,   88.,  123.,   75.,
         74.,  134.,   97.,   66.,   68.,   81.,  188.,   82.,  138.,
         67.,  106.,  -67.,   65.,  -63.,   72.,  166., -140.,  137.,
        165.,  175.,  162.,   85., -109.,   76.])

In [17]:
df.columns

Index(['order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'payment_type', 'payment_installments',
       'payment_value', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery',
       'delivery_delay'],
      dtype='object')

In [18]:

# Features to drop
features_to_drop = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date',
    'customer_zip_code_prefix',
    'shipping_limit_date',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm',
]

# Drop the specified features from the DataFrame
df = df.drop(columns=features_to_drop)

In [19]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_status                   115609 non-null  object
 1   payment_type                   115609 non-null  object
 2   payment_installments           115609 non-null  int64
 3   payment_value                  115609 non-null  float64
 4   customer_city                  115609 non-null  object
 5   customer_state                 115609 non-null  object
 6   price                          115609 non-null  float64
 7   freight_value                  115609 non-null  float64
 8   product_category_name          115609 non-null  object
 9   product_name_lenght            115609 non-null  float64
 10  product_description_lenght     115609 non-null  float64
 11  product_photos_qty             115609 non-null  float64
 12  product_category_name_english  115609 non-null  object
 13  review_score                   115609 non-null  int64
 14  review_comment_message         48906 non-null   object
 15  Order_purchase_hour            115609 non-null  int32
 16  Order_purchase_dayofweek       115609 non-null  int32
 17  Time_taken_for_delivery        113209 non-null  float64
 18  delivery_delay                 113209 non-null  float64
dtypes: float64(8), int32(2), int64(2), object(7)
memory usage: 15.9+ MB

In [20]:
df.columns

Index(['order_status', 'payment_type', 'payment_installments', 'payment_value',
       'customer_city', 'customer_state', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery',
       'delivery_delay'],
      dtype='object')

In [21]:
# List of categorical features to encode
categorical_features = [
    'order_status',
    'product_category_name',
    'product_category_name_english',
    'customer_city',
    'customer_state',
    'payment_type'
]

# Apply one-hot encoding to the categorical features
df_encoded = pd.get_dummies(df, columns=categorical_features)

# Print the first few rows of the encoded DataFrame
print(df_encoded.head())

   payment_installments  payment_value  price  freight_value  \
0                     1          18.12  29.99           8.72
1                     1           2.00  29.99           8.72
2                     1          18.59  29.99           8.72
3                     3          37.77  29.99           7.78
4                     1          37.77  29.99           7.78

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       268.0                 4.0
1                 40.0                       268.0                 4.0
2                 40.0                       268.0                 4.0
3                 40.0                       268.0                 4.0
4                 40.0                       268.0                 4.0

   review_score                             review_comment_message  \
0             4  Não testei o produto ainda, mas ele veio corre...
1             4  Não testei o produto ainda, mas ele veio corre...
2             4  Não testei o produto ainda, mas ele veio corre...
3             4  Deveriam embalar melhor o produto. A caixa vei...
4             5  Só achei ela pequena pra seis xícaras ,mais é ...

   Order_purchase_hour  ...  customer_state_RR  customer_state_RS  \
0                   10  ...              False              False
1                   10  ...              False              False
2                   10  ...              False              False
3                   18  ...              False              False
4                   18  ...              False              False

   customer_state_SC  customer_state_SE  customer_state_SP  customer_state_TO  \
0              False              False               True              False
1              False              False               True              False
2              False              False               True              False
3              False              False               True              False
4              False              False               True              False

   payment_type_boleto  payment_type_credit_card  payment_type_debit_card  \
0                False                      True                    False
1                False                     False                    False
2                False                     False                    False
3                False                      True                    False
4                False                      True                    False

   payment_type_voucher
0                 False
1                  True
2                  True
3                 False
4                 False

[5 rows x 4286 columns]

In [22]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Reshape the 'review_score' column to a 2D array
review_score = df_encoded['delivery_delay'].values.reshape(-1, 1)

# Fit and transform the data
scaled_review_score = scaler.fit_transform(review_score)

# Replace the original 'review_score' column with the scaled values
df_encoded['delivery_delay'] = scaled_review_score

In [23]:
print(len(df_encoded.columns))

4286

In [24]:
from sklearn.model_selection import train_test_split

# Define the features (X) and target variable (y)
X = df_encoded.drop(columns=['review_score', 'review_comment_message'])  # Features
y = df_encoded['review_score']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the training and testing sets
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (92487, 4284)
Shape of X_test: (23122, 4284)
Shape of y_train: (92487,)
Shape of y_test: (23122,)

In [25]:
print(y_train)

590       5
35804     4
14286     5
93508     5
14957     5
         ..
76820     4
110268    2
103694    5
860       4
15795     5
Name: review_score, Length: 92487, dtype: int64

In [26]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

# Define hyperparameters
params = {
    'n_estimators': 100,
    'learning_rate': 0.1,
    'max_depth': 5,
    'min_child_weight': 1,
    'gamma': 0,
    'subsample': 0.8,
    'colsample_bytree': 0.8,
    'reg_alpha': 0,
    'reg_lambda': 1
}

# Initialize the XGBoost regressor with specified hyperparameters
model = XGBRegressor(**params)

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the testing data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.4025171855314855

In [27]:
print(y_pred)

[4.216919  4.4733605 4.3673487 ... 4.6119533 4.375174  2.1856067]

In [28]:
print(y_test)

80929     5
98263     1
12492     5
31032     5
96097     5
         ..
68911     5
16514     3
32644     5
112234    4
94641     1
Name: review_score, Length: 23122, dtype: int64

In [29]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, explained_variance_score

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate mean absolute error
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

# Calculate explained variance score
explained_variance = explained_variance_score(y_test, y_pred)
print("Explained Variance Score:", explained_variance)

Mean Squared Error: 1.4025171855314855
Mean Absolute Error: 0.9251897737658381
R-squared: 0.260946904958415
Explained Variance Score: 0.2609474268905385

In [30]:
import joblib

# Save the trained model to a file
joblib.dump(model, 'xgboost_regression_model.pkl')

['xgboost_regression_model.pkl']