In [90]:
import pandas as pd

df = pd.read_csv("artifacts/data_ingestion/olist_customers_dataset.csv")

In [91]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message'],
      dtype='object')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115609 non-null  object
 1   customer_id                    115609 non-null  object
 2   order_status                   115609 non-null  object
 3   order_purchase_timestamp       115609 non-null  object
 4   order_approved_at              115595 non-null  object
 5   order_delivered_carrier_date   114414 non-null  object
 6   order_delivered_customer_date  113209 non-null  object
 7   order_estimated_delivery_date  115609 non-null  object
 8   payment_sequential             115609 non-null  int64
 9   payment_type                   115609 non-null  object
 10  payment_installments           115609 non-null  int64
 11  payment_value                  115609 non-null  float64
 12  customer_unique_id             115609 non-null  object
 13  customer_zip_code_prefix       115609 non-null  int64
 14  customer_city                  115609 non-null  object
 15  customer_state                 115609 non-null  object
 16  order_item_id                  115609 non-null  int64
 17  product_id                     115609 non-null  object
 18  seller_id                      115609 non-null  object
 19  shipping_limit_date            115609 non-null  object
 20  price                          115609 non-null  float64
 21  freight_value                  115609 non-null  float64
 22  product_category_name          115609 non-null  object
 23  product_name_lenght            115609 non-null  float64
 24  product_description_lenght     115609 non-null  float64
 25  product_photos_qty             115609 non-null  float64
 26  product_weight_g               115608 non-null  float64
 27  product_length_cm              115608 non-null  float64
 28  product_height_cm              115608 non-null  float64
 29  product_width_cm               115608 non-null  float64
 30  product_category_name_english  115609 non-null  object
 31  review_score                   115609 non-null  int64
 32  review_comment_message         48906 non-null   object
dtypes: float64(10), int64(5), object(18)
memory usage: 29.1+ MB

In [93]:
import pandas as pd

# Assuming df is your DataFrame
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])

# Now, the 'order_purchase_timestamp' column will be converted to datetime dtype
print(df['order_purchase_timestamp'])

0        2017-10-02 10:56:33
1        2017-10-02 10:56:33
2        2017-10-02 10:56:33
3        2017-08-15 18:29:31
4        2017-08-02 18:24:47
                 ...
115604   2018-08-03 21:35:53
115605   2018-07-23 18:35:14
115606   2018-07-23 18:35:14
115607   2017-01-26 11:09:00
115608   2017-09-17 16:51:43
Name: order_purchase_timestamp, Length: 115609, dtype: datetime64[ns]

In [94]:
import pandas as pd

# Assuming df is your DataFrame
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'], unit='s')

# Now that 'order_purchase_timestamp' is converted to datetime dtype, you can use the .dt accessor
df['Order_purchase_hour'] = df['order_purchase_timestamp'].dt.hour
df['Order_purchase_dayofweek'] = df['order_purchase_timestamp'].dt.dayofweek

# Now, you should be able to access hour and day of the week attributes
print(df[['order_purchase_timestamp', 'Order_purchase_hour', 'Order_purchase_dayofweek']])

       order_purchase_timestamp  Order_purchase_hour  Order_purchase_dayofweek
0           2017-10-02 10:56:33                   10                         0
1           2017-10-02 10:56:33                   10                         0
2           2017-10-02 10:56:33                   10                         0
3           2017-08-15 18:29:31                   18                         1
4           2017-08-02 18:24:47                   18                         2
...                         ...                  ...                       ...
115604      2018-08-03 21:35:53                   21                         4
115605      2018-07-23 18:35:14                   18                         0
115606      2018-07-23 18:35:14                   18                         0
115607      2017-01-26 11:09:00                   11                         3
115608      2017-09-17 16:51:43                   16                         6

[115609 rows x 3 columns]

In [95]:
df['order_purchase_timestamp']

0        2017-10-02 10:56:33
1        2017-10-02 10:56:33
2        2017-10-02 10:56:33
3        2017-08-15 18:29:31
4        2017-08-02 18:24:47
                 ...
115604   2018-08-03 21:35:53
115605   2018-07-23 18:35:14
115606   2018-07-23 18:35:14
115607   2017-01-26 11:09:00
115608   2017-09-17 16:51:43
Name: order_purchase_timestamp, Length: 115609, dtype: datetime64[ns]

In [96]:
import pandas as pd

# Assuming df is your DataFrame
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])

# Now that both columns are in datetime format, you can perform the subtraction
df['Time_taken_for_delivery'] = (df['order_delivered_customer_date'] - df['order_purchase_timestamp']).dt.days

# Now, you should be able to calculate the time taken for delivery
print(df[['order_purchase_timestamp', 'order_delivered_customer_date', 'Time_taken_for_delivery']])

       order_purchase_timestamp order_delivered_customer_date  \
0           2017-10-02 10:56:33           2017-10-10 21:25:13
1           2017-10-02 10:56:33           2017-10-10 21:25:13
2           2017-10-02 10:56:33           2017-10-10 21:25:13
3           2017-08-15 18:29:31           2017-08-18 14:44:43
4           2017-08-02 18:24:47           2017-08-07 18:30:01
...                         ...                           ...
115604      2018-08-03 21:35:53           2018-08-09 21:42:08
115605      2018-07-23 18:35:14           2018-07-27 14:04:10
115606      2018-07-23 18:35:14           2018-07-27 14:04:10
115607      2017-01-26 11:09:00           2017-02-14 16:24:01
115608      2017-09-17 16:51:43           2017-09-28 18:14:35

        Time_taken_for_delivery
0                           8.0
1                           8.0
2                           8.0
3                           2.0
4                           5.0
...                         ...
115604                      6.0
115605                      3.0
115606                      3.0
115607                     19.0
115608                     11.0

[115609 rows x 3 columns]

In [97]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115609 non-null  object
 1   customer_id                    115609 non-null  object
 2   order_status                   115609 non-null  object
 3   order_purchase_timestamp       115609 non-null  datetime64[ns]
 4   order_approved_at              115595 non-null  object
 5   order_delivered_carrier_date   114414 non-null  object
 6   order_delivered_customer_date  113209 non-null  datetime64[ns]
 7   order_estimated_delivery_date  115609 non-null  object
 8   payment_sequential             115609 non-null  int64
 9   payment_type                   115609 non-null  object
 10  payment_installments           115609 non-null  int64
 11  payment_value                  115609 non-null  float64
 12  customer_unique_id             115609 non-null  object
 13  customer_zip_code_prefix       115609 non-null  int64
 14  customer_city                  115609 non-null  object
 15  customer_state                 115609 non-null  object
 16  order_item_id                  115609 non-null  int64
 17  product_id                     115609 non-null  object
 18  seller_id                      115609 non-null  object
 19  shipping_limit_date            115609 non-null  object
 20  price                          115609 non-null  float64
 21  freight_value                  115609 non-null  float64
 22  product_category_name          115609 non-null  object
 23  product_name_lenght            115609 non-null  float64
 24  product_description_lenght     115609 non-null  float64
 25  product_photos_qty             115609 non-null  float64
 26  product_weight_g               115608 non-null  float64
 27  product_length_cm              115608 non-null  float64
 28  product_height_cm              115608 non-null  float64
 29  product_width_cm               115608 non-null  float64
 30  product_category_name_english  115609 non-null  object
 31  review_score                   115609 non-null  int64
 32  review_comment_message         48906 non-null   object
 33  Order_purchase_hour            115609 non-null  int32
 34  Order_purchase_dayofweek       115609 non-null  int32
 35  Time_taken_for_delivery        113209 non-null  float64
dtypes: datetime64[ns](2), float64(11), int32(2), int64(5), object(16)
memory usage: 30.9+ MB

In [98]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery'],
      dtype='object')

In [99]:
# List of IDs to be dropped
ids_to_drop = [
    'order_id', 'customer_id', 'payment_sequential',
    'customer_unique_id', 'order_item_id', 'product_id',
    'seller_id'
]

# Drop the IDs from the DataFrame
df = df.drop(columns=ids_to_drop)

In [100]:
df.columns

Index(['order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'payment_type', 'payment_installments',
       'payment_value', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery'],
      dtype='object')

In [101]:
df["Time_taken_for_delivery" ].unique()

array([  8.,   2.,   5.,  14.,  33.,  19.,   3.,  21.,   7.,   4.,  11.,
        13.,  10.,   1.,  41.,   6.,  17.,   9.,  16.,  12.,  31.,  nan,
        35.,  34.,  24.,  22.,  32.,  15.,  20.,  18.,  44.,  48.,  25.,
        70.,  27.,  23.,  28.,  59.,  39.,  29.,  37.,  51.,  30.,  26.,
        63.,  60.,  62.,  46.,  40., 101.,   0.,  43.,  57.,  54.,  53.,
        45.,  38.,  80.,  36.,  42.,  52.,  56.,  47.,  69.,  58.,  55.,
       175.,  50., 118., 181.,  78.,  83., 100.,  64.,  49., 145.,  74.,
        73.,  65.,  81.,  67.,  61., 133.,  97., 108.,  68., 188.,  72.,
       173.,  86.,  66.,  75., 110., 130.,  99.,  91.,  98., 105., 132.,
        76.,  92., 142., 107., 187., 189.,  71., 186.,  79., 194.,  85.,
       165., 126., 117.,  77., 182., 168., 104., 148., 136., 141.,  84.,
       109., 166., 135.,  90.,  82.,  96., 167., 115., 131.,  89., 208.,
        87., 143., 124., 106., 138., 172., 103.,  94.,  88., 174., 195.,
       191.])

In [102]:
df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'])

In [103]:
# Calculate the time delay between delivery date and estimated delivery date
df['delivery_delay'] = (df['order_delivered_customer_date'] - df['order_estimated_delivery_date']).dt.days

# Now, 'delivery_delay' represents the delay between delivery date and estimated delivery date in days
print(df[['order_delivered_customer_date', 'order_estimated_delivery_date', 'delivery_delay']])

       order_delivered_customer_date order_estimated_delivery_date  \
0                2017-10-10 21:25:13                    2017-10-18
1                2017-10-10 21:25:13                    2017-10-18
2                2017-10-10 21:25:13                    2017-10-18
3                2017-08-18 14:44:43                    2017-08-28
4                2017-08-07 18:30:01                    2017-08-15
...                              ...                           ...
115604           2018-08-09 21:42:08                    2018-08-10
115605           2018-07-27 14:04:10                    2018-08-06
115606           2018-07-27 14:04:10                    2018-08-06
115607           2017-02-14 16:24:01                    2017-03-07
115608           2017-09-28 18:14:35                    2017-10-11

        delivery_delay
0                 -8.0
1                 -8.0
2                 -8.0
3                -10.0
4                 -8.0
...                ...
115604            -1.0
115605           -10.0
115606           -10.0
115607           -21.0
115608           -13.0

[115609 rows x 3 columns]

In [104]:
df['delivery_delay'].unique()

array([  -8.,  -10.,   -6.,    7.,   -2.,  -18.,    1.,  -11.,   -9.,
        -16.,  -24.,   -3.,  -20.,  -15.,  -13.,   15.,   -7.,  -21.,
          0.,    5.,  -14.,   -4.,  -19.,    2.,   nan,   -1.,   -5.,
        -12.,  -17.,    6.,   13.,   22.,  -23.,  -31.,  -22.,  -30.,
        -26.,  -27.,  -25.,   44.,    4.,  -28.,   49.,   16.,    9.,
         30.,    3.,  -46.,  -42.,  -32.,   32.,   20.,   35.,   41.,
        -40.,  -35.,   33.,   29.,   10.,  -45.,   19.,    8.,   77.,
        -36.,  -38.,  -44.,  -34.,  -29.,   28.,  -33.,   38.,  -37.,
        -43.,   14.,   23.,  -39.,  -48.,   26.,   21.,   11.,   17.,
         24.,  -50.,  -49.,  -59.,  -55.,   12.,   43.,  -47.,   18.,
       -124.,  -57.,   27.,  -56.,  -41.,   31.,  161.,  105.,  152.,
        -66.,   59.,  -53.,  -58.,   46.,   25.,  121.,  -52.,   36.,
        -64.,   54.,   52.,   34.,   94.,   73.,   79.,   42.,   60.,
         58.,  159.,   40.,   45.,   56.,  153.,   47.,   53.,   96.,
         83.,   69.,   48.,   91.,  109.,   37.,  -69.,  -83.,  -51.,
        -68.,  -75.,  -77.,   55.,  110.,  -60.,   80.,  -73.,  -78.,
       -147.,  -62.,  -61., -135.,  144.,  -84.,  -76.,  167.,  -71.,
         50.,  155.,   39.,  143.,   51.,  104.,   57.,  132.,   63.,
        126.,  -54.,  -65.,  111.,   70.,   78.,   88.,  123.,   75.,
         74.,  134.,   97.,   66.,   68.,   81.,  188.,   82.,  138.,
         67.,  106.,  -67.,   65.,  -63.,   72.,  166., -140.,  137.,
        165.,  175.,  162.,   85., -109.,   76.])

In [105]:
df.columns

Index(['order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'payment_type', 'payment_installments',
       'payment_value', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery',
       'delivery_delay'],
      dtype='object')

In [106]:

# Features to drop
features_to_drop = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date',
    'customer_zip_code_prefix',
    'shipping_limit_date',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm',
    'product_category_name',
    'product_name_lenght'
]

# Drop the specified features from the DataFrame
df = df.drop(columns=features_to_drop)

In [107]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_status                   115609 non-null  object
 1   payment_type                   115609 non-null  object
 2   payment_installments           115609 non-null  int64
 3   payment_value                  115609 non-null  float64
 4   customer_city                  115609 non-null  object
 5   customer_state                 115609 non-null  object
 6   price                          115609 non-null  float64
 7   freight_value                  115609 non-null  float64
 8   product_description_lenght     115609 non-null  float64
 9   product_photos_qty             115609 non-null  float64
 10  product_category_name_english  115609 non-null  object
 11  review_score                   115609 non-null  int64
 12  review_comment_message         48906 non-null   object
 13  Order_purchase_hour            115609 non-null  int32
 14  Order_purchase_dayofweek       115609 non-null  int32
 15  Time_taken_for_delivery        113209 non-null  float64
 16  delivery_delay                 113209 non-null  float64
dtypes: float64(7), int32(2), int64(2), object(6)
memory usage: 14.1+ MB

In [108]:
df.columns

Index(['order_status', 'payment_type', 'payment_installments', 'payment_value',
       'customer_city', 'customer_state', 'price', 'freight_value',
       'product_description_lenght', 'product_photos_qty',
       'product_category_name_english', 'review_score',
       'review_comment_message', 'Order_purchase_hour',
       'Order_purchase_dayofweek', 'Time_taken_for_delivery',
       'delivery_delay'],
      dtype='object')

In [110]:
list(df['customer_city'].unique())

['delivered',
 'shipped',
 'invoiced',
 'canceled',
 'processing',
 'approved',
 'unavailable']

In [111]:
list(df['payment_type'].unique())

['credit_card', 'voucher', 'boleto', 'debit_card']

In [114]:
list(df['product_category_name_english'].unique())

['housewares',
 'cool_stuff',
 'furniture_decor',
 'industry_commerce_and_business',
 'bed_bath_table',
 'food_drink',
 'computers_accessories',
 'garden_tools',
 'stationery',
 'watches_gifts',
 'health_beauty',
 'kitchen_dining_laundry_garden_furniture',
 'auto',
 'perfumery',
 'drinks',
 'sports_leisure',
 'market_place',
 'baby',
 'consoles_games',
 'construction_tools_construction',
 'home_construction',
 'small_appliances',
 'books_general_interest',
 'electronics',
 'dvds_blu_ray',
 'home_confort',
 'toys',
 'pet_shop',
 'music',
 'telephony',
 'christmas_supplies',
 'luggage_accessories',
 'home_comfort_2',
 'fashion_bags_accessories',
 'musical_instruments',
 'food',
 'costruction_tools_garden',
 'art',
 'furniture_living_room',
 'construction_tools_lights',
 'furniture_bedroom',
 'office_furniture',
 'computers',
 'books_technical',
 'flowers',
 'arts_and_craftmanship',
 'air_conditioning',
 'tablets_printing_image',
 'construction_tools_safety',
 'home_appliances_2',
 'party_supplies',
 'fixed_telephony',
 'cine_photo',
 'fashion_shoes',
 'la_cuisine',
 'signaling_and_security',
 'audio',
 'fashion_underwear_beach',
 'fashion_sport',
 'fashion_childrens_clothes',
 'home_appliances',
 'agro_industry_and_commerce',
 'cds_dvds_musicals',
 'fashion_male_clothing',
 'fashio_female_clothing',
 'small_appliances_home_oven_and_coffee',
 'costruction_tools_tools',
 'furniture_mattress_and_upholstery',
 'diapers_and_hygiene',
 'books_imported',
 'security_and_services']

In [40]:
from sklearn.preprocessing import LabelEncoder

In [42]:
# List of categorical features to encode
categorical_features = [
    'order_status',
    'product_category_name_english',
    'customer_city',
    'customer_state',
    'payment_type'
]

label_encoder = LabelEncoder()
for col in categorical_features:
    df[col] = label_encoder.fit_transform(df[col])
    
df

,order_status,payment_type,payment_installments,payment_value,customer_city,customer_state,price,freight_value,product_description_lenght,product_photos_qty,product_category_name_english,review_score,review_comment_message,Order_purchase_hour,Order_purchase_dayofweek,Time_taken_for_delivery,delivery_delay
0,2,1,1,18.12,3574,25,29.99,8.72,268.0,4.0,49,4,"Não testei o produto ainda, mas ele veio corre...",10,0,8.0,-8.0
1,2,3,1,2.00,3574,25,29.99,8.72,268.0,4.0,49,4,"Não testei o produto ainda, mas ele veio corre...",10,0,8.0,-8.0
2,2,3,1,18.59,3574,25,29.99,8.72,268.0,4.0,49,4,"Não testei o produto ainda, mas ele veio corre...",10,0,8.0,-8.0
3,2,1,3,37.77,3574,25,29.99,7.78,268.0,4.0,49,4,Deveriam embalar melhor o produto. A caixa vei...,18,1,2.0,-10.0
4,2,1,1,37.77,3574,25,29.99,7.78,268.0,4.0,49,5,"Só achei ela pequena pra seis xícaras ,mais é ...",18,2,5.0,-8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,2,0,1,33.69,451,10,25.00,8.69,576.0,5.0,3,5,NaN,21,4,6.0,-1.0
115605,2,1,1,84.63,1168,25,19.00,12.86,660.0,3.0,3,3,"Um dos frisadores que comprei, especificamente...",18,0,3.0,-10.0
115606,2,1,1,84.63,1168,25,39.90,12.87,942.0,5.0,3,3,"Um dos frisadores que comprei, especificamente...",18,0,3.0,-10.0
115607,2,1,1,209.06,3179,20,183.29,25.77,506.0,1.0,61,4,Envio muito rápido. Recomendo.,11,3,19.0,-21.0
115608,2,0,1,115.45,556,6,100.00,15.45,461.0,4.0,61,1,"boa tarde produto enviado errado, terei que me...",16,6,11.0,-13.0

In [43]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Reshape the 'review_score' column to a 2D array
review_score = df['delivery_delay'].values.reshape(-1, 1)

# Fit and transform the data
scaled_review_score = scaler.fit_transform(review_score)

# Replace the original 'review_score' column with the scaled values
df['delivery_delay'] = scaled_review_score

In [44]:
print(len(df.columns))

17

In [45]:
from sklearn.model_selection import train_test_split

# Define the features (X) and target variable (y)
X = df.drop(columns=['review_score', 'review_comment_message'])  # Features
y = df['review_score']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the training and testing sets
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (92487, 15)
Shape of X_test: (23122, 15)
Shape of y_train: (92487,)
Shape of y_test: (23122,)

In [46]:
print(y_train)

590       5
35804     4
14286     5
93508     5
14957     5
         ..
76820     4
110268    2
103694    5
860       4
15795     5
Name: review_score, Length: 92487, dtype: int64

In [47]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

# Define hyperparameters
params = {
    'n_estimators': 100,
    'learning_rate': 0.1,
    'max_depth': 5,
    'min_child_weight': 1,
    'gamma': 0,
    'subsample': 0.8,
    'colsample_bytree': 0.8,
    'reg_alpha': 0,
    'reg_lambda': 1
}

# Initialize the XGBoost regressor with specified hyperparameters
model = XGBRegressor(**params)

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the testing data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.3930844702640812

In [48]:
print(y_pred)

[4.216387  4.587246  4.440641  ... 4.4621387 4.409049  2.1901345]

In [49]:
print(y_test)

80929     5
98263     1
12492     5
31032     5
96097     5
         ..
68911     5
16514     3
32644     5
112234    4
94641     1
Name: review_score, Length: 23122, dtype: int64

In [50]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, explained_variance_score

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate mean absolute error
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

# Calculate explained variance score
explained_variance = explained_variance_score(y_test, y_pred)
print("Explained Variance Score:", explained_variance)

Mean Squared Error: 1.3930844702640812
Mean Absolute Error: 0.9197359869491681
R-squared: 0.26591745183294724
Explained Variance Score: 0.2659210714334367

In [51]:
import joblib

# Save the trained model to a file
joblib.dump(model, 'xgboost_regression_model.pkl')

['xgboost_regression_model.pkl']

In [57]:
model.feature_names_in_

array(['order_status', 'payment_type', 'payment_installments',
       'payment_value', 'customer_city', 'customer_state', 'price',
       'freight_value', 'product_description_lenght',
       'product_photos_qty', 'product_category_name_english',
       'Order_purchase_hour', 'Order_purchase_dayofweek',
       'Time_taken_for_delivery', 'delivery_delay'], dtype='<U29')

In [58]:
input_data = ['delivered','credit_card',3,18.59,'florianopolis','MG',339.0,7.78,664.0,6,'cool_stuff',6,4,5,-2]

In [59]:
feature_names = ['order_status', 'payment_type', 'payment_installments',
       'payment_value', 'customer_city', 'customer_state', 'price',
       'freight_value', 'product_description_lenght',
       'product_photos_qty', 'product_category_name_english',
       'Order_purchase_hour', 'Order_purchase_dayofweek',
       'Time_taken_for_delivery', 'delivery_delay']
            
input_data_df = pd.DataFrame([input_data], columns=feature_names)

In [60]:
input_data_df

,order_status,payment_type,payment_installments,payment_value,customer_city,customer_state,price,freight_value,product_description_lenght,product_photos_qty,product_category_name_english,Order_purchase_hour,Order_purchase_dayofweek,Time_taken_for_delivery,delivery_delay
0,delivered,credit_card,3,18.59,florianopolis,MG,339.0,7.78,664.0,6,cool_stuff,6,4,5,-2

In [61]:
categorical_features = [
    'order_status',
    'product_category_name_english',
    'customer_city',
    'customer_state',
    'payment_type'
]

label_encoder = LabelEncoder()
for col in categorical_features:
    input_data_df[col] = label_encoder.fit_transform(input_data_df[col])

In [62]:
input_data_df

,order_status,payment_type,payment_installments,payment_value,customer_city,customer_state,price,freight_value,product_description_lenght,product_photos_qty,product_category_name_english,Order_purchase_hour,Order_purchase_dayofweek,Time_taken_for_delivery,delivery_delay
0,0,0,3,18.59,0,0,339.0,7.78,664.0,6,0,6,4,5,-2

In [63]:
model.predict(input_data_df)

array([3.3161678], dtype=float32)

In [64]:
from joblib import load
modelx = load("artifacts/model_trainer/model.joblib")

In [82]:
model_features = list(modelx.feature_names_in_)

In [72]:
feature = ['order_status', 'payment_type', 'payment_installments',
       'payment_value', 'customer_city', 'customer_state', 'price',
       'freight_value', 'product_description_lenght',
       'product_photos_qty', 'product_category_name_english',
       'Order_purchase_hour', 'Order_purchase_dayofweek',
       'Time_taken_for_delivery', 'delivery_delay']

In [71]:
input_data = ['delivered','credit_card',3,18.59,'florianopolis','MG',339.0,7.78,664.0,6,'cool_stuff',6,4,5,-2]

In [73]:
input_data = pd.DataFrame([input_data],columns=feature)

In [75]:
input_data = pd.get_dummies(input_data,columns=categorical_features)

In [78]:
input_list = list(input_data.columns)
input_list

['payment_installments',
 'payment_value',
 'price',
 'freight_value',
 'product_description_lenght',
 'product_photos_qty',
 'Order_purchase_hour',
 'Order_purchase_dayofweek',
 'Time_taken_for_delivery',
 'delivery_delay',
 'order_status_delivered',
 'product_category_name_english_cool_stuff',
 'customer_city_florianopolis',
 'customer_state_MG',
 'payment_type_credit_card']

In [80]:
data_dict = {}
for column_name in input_list:
    data_dict[column_name] = input_data[column_name][0]

In [83]:
data_dict

{'payment_installments': 3,
 'payment_value': 18.59,
 'price': 339.0,
 'freight_value': 7.78,
 'product_description_lenght': 664.0,
 'product_photos_qty': 6,
 'Order_purchase_hour': 6,
 'Order_purchase_dayofweek': 4,
 'Time_taken_for_delivery': 5,
 'delivery_delay': -2,
 'order_status_delivered': True,
 'product_category_name_english_cool_stuff': True,
 'customer_city_florianopolis': True,
 'customer_state_MG': True,
 'payment_type_credit_card': True}

In [84]:
inp = []
for i in model_features:
    if i in data_dict:
        inp.append(data_dict[i])
    else:
        inp.append(False)

In [87]:
input_datax = pd.DataFrame([inp],columns=model_features)

In [88]:
input_datax

,payment_installments,payment_value,price,freight_value,product_description_lenght,product_photos_qty,Time_taken_for_delivery,delivery_delay,order_status_approved,order_status_canceled,...,customer_state_RR,customer_state_RS,customer_state_SC,customer_state_SE,customer_state_SP,customer_state_TO,payment_type_boleto,payment_type_credit_card,payment_type_debit_card,payment_type_voucher
0,3,18.59,339.0,7.78,664.0,6,5,-2,False,False,...,False,False,False,False,False,False,False,True,False,False

In [89]:
modelx.predict(input_datax)

array([4.7404947], dtype=float32)